{% load static %}
<!--<header class="hdr">
	<div class="hdr-top">
		<div class="hdr-top-left">
			<div class="contacts-block">
				<span style="height: 100%">
					<p style="text-align: left; line-height: 0;">
						<span style="position: relative; font-size: 16pt; margin-left: 160px; top: 32px;">
							+7 (3952) 98-18-90
						</span>
					</p>
					<p style="text-align: left; line-height: 0;">
						<span style="position: relative; font-size: 11pt; margin-left: 211.5px; top: 32px;">
							+7 (914) 898-18-90
						</span>
					</p>
					<p style="display: block;">
						<span>
							<a href="https://vk.com/aisten_ok/">
								<img src="{% static 'img/vk.svg' %}" alt="vk" style="height: 30px; margin-left: 50px; margin-top: -15px;">
							</a>
						</span>
						<span style="font-size: 11pt;">
							<a href="https://www.instagram.com/aistenok_irk_ru/">
								<img src="{% static 'img/instagram.svg' %}" alt="Instagram" style="height: 30px; margin-left: 0px; margin-top: -15px;">
							</a>
						</span>
						<span>
							<a href="https://www.youtube.com/channel/UCb-WO0PNIr3ecVcRtoEsViQ?&ab_channel=%D0%90%D0%B8%D1%81%D1%82%D1%91%D0%BD%D0%BE%D0%BA%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D1%8B%D0%B4%D0%BB%D1%8F%D0%BC%D0%B0%D0%BB%D1%8B%D1%88%D0%B5%D0%B9/">
								<img src="{% static 'img/youtube.svg' %}" alt="YouTube" style="height: 30px; margin-top: -15px;">
							</a>
						</span>
					</p>
				</span>
			</div>
		</div>
	</div>
	<div class="hdr-bot">
		<nav class="navbar navbar-expand-lg navbar-light" style="height: 50px;">
			<a class="navbar-brand" href="#">
				<img src="{% static 'img/logo.png' %}" width="200" height="44" alt>
			</a>
		  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  	</button>
		  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto">
		    		<li class="nav-item nav-item-top dropdown">
		    			<div class="dropdown show">
			        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">     
			        			О нас
			        		</a>
			        		<div class="dropdown-menu" id="first-menu" aria-labelledby="navbarDropdown" style="background-color:  rgb(244, 114, 93);">
			        			<div class="dropdown show btn-group dropright">	
				          			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 260px;">
				          				О нас
				          			</a>
				          			<div class="dropdown-menu second-menu-item" id="second-menu-item" aria-labelledby="navbarDropdown" style="width: 1000px;">
				          				<hr>
				          				<p>
				          					<span>
				          						<span>
				          							<strong>
				          								«Аистёнок»
				          							</strong>
				          						</span>
				          						 - это магазин-салон, где каждый чувствует себя как у лучших друзей и может рассчитывать на профессиональное обслуживание и понимание.
				          					</span>
				          				</p>
				          				<ul>
				          					<li>
				          						<span>
				          							Наши магазины "Аистёнок" успешно работают в городе Иркутске уже 8 лет. За это время нам удалось приобрести известность среди жителей города Иркутска и области, завоевать доверие покупателей и хорошую репутацию. 
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							Мы представляем полный ассортимент товаров для новорожденных и детей до 2 лет. 
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							Мы понимаем потребности клиента и заботимся о них, как о своих собственных.  Для нас ценны Ваши положительные эмоции, поэтому мы тщательно подбираем ассортимент товаров и всегда рады помочь в нелегком выборе всего самого необходимого и лучшего для вашего малыша.
				          							<br>
				          							<br>
				          						</span>
				          						<hr>
				          					</li>
				          				</ul>
				          				<p>
				          					<span>
				          						У нас Вы сможете приобрести:
				          					</span>
				          				</p>
				          				<ol>
				          					<li>
				          						<span>
				          							универсальную коляску для новорожденного,
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							кровать для новорожденного из бука или сосны,
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							ортопедический матрас,
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							комплект в кроватку из безопасных тканей и наполнителей,
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							комплект на выписку из роддома,
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							коллекционную одежду для своего маленького модника от производителей Великобритании, Испании, Польши, и простую одежду для дома российских производителей (распашонки, ползунки, слипы и т.д.),
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							товары для будущих и кормящих мам,
				          						</span>
				          					</li>
				          					<li>
				          						<span>
				          							зимний комбинезон или конверт с разными утеплителями (пух, овчина, термофин, шелтер, изософт), и комбинезоны из мембранной ткани, и многое другое - все, что понадобиться для встречи с вашим ребенком, его роста и развития.
				          						</span>
				          					</li>
				          				</ol>
				          			</div>	
			          			</div><br>	
								<div class="dropdown show btn-group dropright">	
				          			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 260px;">
				          				Акции
				          			</a>
				          			<div class="dropdown-menu second-menu-item" id="second-menu-item" aria-labelledby="navbarDropdown">
				          				<img src="{% static 'img/bannery_dlya_sayta_aktsiya_dekabrya.jpg' %}" alt="" style="width: 800px">
				          				<img src="{% static 'img/bannery_dlya_sayta_novogodniy_fotoproyekt.jpg' %}" alt="" style="width: 800px">
				          				<img src="{% static 'img/bannery_dlya_sayta_mikado.jpg' %}" alt="" style="width: 800px">
				          				<img src="{% static 'img/bannery_dlya_sayta_podguzniki_1.jpg' %}" alt="" style="width: 800px">
				          				<img src="{% static 'img/bannery_dlya_sayta_dostavka.jpg' %}" alt="" style="width: 800px">
				          			</div>	
			          			</div>	
			          			<a class="dropdown-item" href="#">Вакансии</a>
			          			<a class="dropdown-item" href="#">Отзывы клиентов</a>
			          			<a class="dropdown-item" href="#">Фотопроекты нашего магазина</a>
			          			<div class="dropdown show btn-group dropright">		          				    
				          			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 260px;">
				          				Контакты
				          			</a>
				          			<div class="dropdown-menu second-menu-item" aria-labelledby="navbarDropdown">
				          				<span>
				          					+7 (3952) 98-18-90 <br>
				          					+7 (914) 898-18-90 <br>
				          					<br>
				          					 г. Иркутск <br>
				          					 ул. Полины Осипенко, д.11 <br>
				          					 ул. Сергеева, 3/5 (ТРЦ "СИЛЬВЕРмолл") <br>
				          					 <br>
				          					 г. Улан-Удэ <br>
				          					 ул. Ленина, 39 (ТРЦ "Форум")
				          				</span>
				          			</div>	
				          		</div>	          			
			          		</div>
			          	</div>
		      		</li>
		      		<li class="nav-item nav-item-top active">				 
		        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        			Список для будущей мамы
		        		</a> 
	        			<span class="sr-only">(current)</span>
	        			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
	        				<img src="{% static 'img/momlist.jpg' %}" alt="" style="padding-left: 300px; padding-top: 0px; width: 900px; height: 900px; text-align: center">
	        				<img src="{% static 'img/homelist.jpg' %}" alt="" style=" padding-top: 0px; width: 700px; height: 900px; text-align: center">
	        			</div>				        		
		      		</li>
		      		<li class="nav-item nav-item-top">
		        		<a class="nav-link" href="#">Введение в бренды</a>
		      		</li>
		      		<li class="nav-item nav-item-top">
		        		<a class="nav-link" href="#">Полезная информация</a>
		      		</li>
		      		<li class="nav-item nav-item-top">
		        		<a class="nav-link" href="#">Оплата</a>
		      		</li>    		
		   		</ul>
		  	</div>
		</nav>				
	</div>
</header>-->