{% extends 'wrapper.html' %}
{%  load static %}
{% block content %}
<div>
	{% for address, dirs, files in value %}
		{% for i, j, k in value %}
				{% if os.path.dirname.i != os.path.dirname.address %}
					<li>{{i}}</li>
				{% else %}
					<li>fgfdgdfg</li>
				{% endif %}

		{% endfor %}
	{% endfor %}
</div>
<!--<div class="accordion" id="accordionExample">
	<div class="card">	
		<h5 class="mb-0">    	
    		<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				<div class="pills-tab top-menu">
					<ul class="nav nav-pills mb-3 nav-top-menu" id="pills-tab" role="tablist">
			  			<li class="nav-item nav-item-top-menu">
			  				<p>
				    			<a class="nav-link top-menu-tab" id="pills-child-tab" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				    				<span class="mt-image hover">
										<img src="{% static 'img/ico-baby-1.png' %}" alt="" class="mt scale">
									</span>
									<br>
									<span class="mt-title">Детские товары</span>
				    			</a>
				    		</p>
			    			<div class="collapse" id="collapseExample">
			    				<div class="card card-body">
			    					
			    				</div>
			    			</div>
			  			</li>
			  			<li class="nav-item nav-item-top-menu">
			  				<p>
				    			<a class="nav-link top-menu-tab" id="pills-woman-tab" data-toggle="collapse" href="#collapseExample2" role="tab" aria-controls="pills-profile" aria-selected="false">
				    				<span class="mt-image hover">
										<img src="{% static 'img/ico-woman-1.png' %}" alt="" class="mt scale">
									</span>
									<br>
									<span class="mt-title">Женские товары</span>
				    			</a>
				    		</p>
			    			<div class="collapse" id="collapseExample2">
			    				<div class="card card-body">
			    					
			    				</div>
			    			</div>
			  			</li>
			  			<li class="nav-item nav-item-top-menu">
			  				<p>
				    			<a class="nav-link top-menu-tab" id="pills-woman-tab" data-toggle="collapse" href="#collapseExample3" role="tab" aria-controls="pills-profile" aria-selected="false">
				    				<span class="mt-image hover">
										<img src="{% static 'img/ico-shares-1.png' %}" alt="" class="mt scale">
									</span>
									<br>
									<span class="mt-title-shares">Акции</span>
				    			</a>
			    			</p>
			    			<div class="collapse" id="collapseExample3">
			    				<div class="card card-body">
			    					
			    				</div>
			    			</div>
			  			</li>
					</ul>			
				</div>
    		</button>
    	</h5>	        	
  	</div>
</div>

<div class="center-container">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  	</ol>
			<div class="carousel-inner">
			<div class="carousel-item active">
				<a href="">
  					<img class="d-block w-100 center-banner-img" src="{% static 'img/banner-1.jpg' %}" alt="Первый слайд">
  				</a>
			</div>
			<div class="carousel-item">
				<a href="">
  					<img class="d-block w-100 center-banner-img" src="{% static 'img/banner-2.jpg' %}" alt="Второй слайд">
  				</a>
			</div>
			<div class="carousel-item">
				<a href="">
  					<img class="d-block w-100 center-banner-img" src="{% static 'img/bannery_dlya_sayta_podguzniki_1.jpg' %}" alt="Третий слайд">
  				</a>
			</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
			</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		    <span class="carousel-control-next-icon" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		</a>
	</div>

	<div class="grid center-grid">
		<a href="" class="non-decor">
			<div class="center-item" id="center-item1">
				<div class="block-text-line">
					<h3>Идеальная кроватка</h3>
					<h5>Выбираем кровать для новорожденного</h5>
				</div>
			</div>
		</a>
		<a href="" class="non-decor">
			<div class="center-item" id="center-item2">
				<div class="block-text-line">
					<h3>Выбираем коляску</h3>
				</div>
			</div>
		</a>
		<a href="" class="non-decor">
			<div class="center-item" id="center-item3">
				<div class="block-text-line">
					<h3>Сумка в роддом</h3>
				</div>
			</div>
		</a>
		<a href="" class="non-decor">
			<div class="center-item" id="center-item4">
				<div class="block-text-line">
					<h3>Готовимся к роддому</h3>
					<h5>Одежда для беременных</h5>
				</div>
			</div>
		</a>
		<a href="" class="non-decor">
			<div class="center-item" id="center-item5">
				<div class="block-text-line">
					<h3>Какой слинг выбрать?</h3>
					<h5>Получить приглашение на мастер-класс по слингоношению</h5>
				</div>
			</div>
		</a>
		<a href="" class="non-decor">	
			<div class="center-item" id="center-item6">
				<div class="block-text-line">
					<h3>Грудное вскармливание</h3>
					<h5>получить приглашение на лекцию по ГВ</h5>
				</div>
			</div>
		</a>
	</div>
</div>

<div class="links-block-container">
	<div class="grid links-block">
		<div class="links-block-item" id="block-sertificats">
			<div class="title">
				Подарочные карты и сертификаты
			</div>
			<a href="#" class="links-block-a" id="links-block-a-sert">Купить</a>
		</div>
		<div class="links-block-item" id="block-sales">
			<div class="title">
				Попишись на самые выгодные предложения нашего магазина
			</div>
			<a href="#" class="links-block-a">Подписаться</a>
		</div>
		<div class="links-block-item"id="block-vk">	
			<div class="title">
				Вступай в группу ВКонтакте и получи дополнительную скидку
			</div>
			<a href="#" class="links-block-a">Вступить</a>
		</div>
	</div>
</div>

<div class="left-container">
	<div class="catalog-block">
		<div class="catalog">
			Каталог товаров
		</div>
	</div>
</div>

<div class="right-container">
	<div class="news-block">
		<div class="news">
			Новости, обзоры
		</div>
		<div>
			<form action="" method="post">{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-primary">
					Отправить
				</button>
			</form>
		</div>
	</div>
</div>
	
<div class="bottom-container">
	<div class="new-arrivals heading">
				<h4>
					НОВЫЕ ПОСТУПЛЕЯ
				</h4>	
	</div>
	<div class="grid new-arrivals-block">
		<!--{{ products }}--> <!--выводим товары на страницу-->
	<!--	{% for product_image in products_images %}  <!--вместо product может быть любое название переменной (item, i и др.)-->
										<!--products - это переменная products из landing.views-->
			
	<!--		<a href="#" class="non-decor">
				<div class="product-card">
					<div class="product-image">
						<img class="prdct-img" src="{{ product_image.image.url }}" alt="">
					</div>
					<h4 class="sert product-h" data-title="">{{  product_image.product.name }}</h4>
					<p>
						{{  product_image.product.short_description }}
					</p>
					<div class="card-bot">
						<div class="card-price scale">
						<strong style="position: absolute; left: 20px; top: 3px; font-size: 20px; color: rgb(255 255 255);">{{  product_image.product.price }} руб</strong>
						<div class="flag-img">
							<img src="static/img/price-flag.png" alt="" style="height: 40px;">
						</div>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</div>-->
{% endblock %}