<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/style.css">
	<script type="text/javascript" src="static/jq/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<!--<div>
	  <div class="row centered">
	    <div class="col col-6">
	      <h2>SSL pricelist</h2>
	      {% for product in products %}
	      <table *ngIf="pricelist">
	        <tbody>
	          <tr *ngFor="let item of pricelist">
	            <td><a>{{ item.name }}</a></td>
	            <td> от {{ item.price.period[0].cost }} {{ item.price.currency }}</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
	</div>-->
	<li>
		<a class="sert" href='' data-toggle="tooltip" data-placement="top" data-title="">Rapid SSL</a>
	</li>
	<li>
		<a class="sert"  href='' data-toggle="tooltip" data-placement="right" title="">Rapid SSL Widcard</a>
	</li>
	<li>
		<a class="sert"  href='' data-toggle="tooltip" data-placement="bottom" title="">Some SSL</a>
	</li>
	<li>
		<a class="sert"  href='' data-toggle="tooltip" data-placement="left" title="">GeoTrust True BusinessID with EV</a>
	</li>
</body>
</html>