<div class="sign-up-form">
	<h4>Sign Up</h4>
	<form novalidate (ngSubmit)='onSubmit(signUpForm)' #signUpForm='ngForm'>
		<div class="form-group">
			<input type="text" autocomplete='off' name='name' required placeholder="Username" ngModel #name='ngModel' class='form-control'>
			<div class="alert alert-danger" [hidden]='name.valid || name.pristine'>Please enter your name</div>
		</div>
		<div class="form-group">
			<input type="email" autocomplete='off' name='email' required placeholder="Email" ngModel #email='ngModel' class='form-control'>
			<div class="alert alert-danger" [hidden]='email.valid || email.pristine'>Please enter your email</div>
		</div>
		<div class="form-group">
			<input type="password" autocomplete='off' name='password' required placeholder="Password" ngModel #password='ngModel' class='form-control'>
			<div class="alert alert-danger" [hidden]='password.valid || password.pristine'>Please enter your password</div>
		</div>
		<div class='alert alert-danger' *ngIf='formError'>{{formError}}</div>
		<div *ngIf='!registering && !hasAdded' >
			<button routerLink='/sign-in' class='btn btn-success'>Cancel</button>
			<button [disabled]='signUpForm.invalid' type='submit' class='btn btn-primary'>Sign Up</button>
		</div>
		<div *ngIf='registering && !hasAdded'>
			<span class='message'>Registering new user...</span>
		</div>
		<div *ngIf='hasAdded'>
			<span class='message'>This user already exists</span>
		</div>
	</form>
</div>