<div [hidden]="operation === 'create' && field.isId" [formGroup]='form'>
	<div [ngSwitch]='field.type'>
		<div *ngSwitchCase='"string"' class='form-group'>
			<label *ngIf='operation && ((operation !== "create" && operation !== "repeat") || (field.key !== "date" && (operation === "create" || operation === "repeat")))' [for]="field.key">{{field.label}}</label>
			<input *ngIf='(operation !== "create" && operation !== "repeat") || (field.key !== "date" && (operation === "create" || operation === "repeat"))' (keyup)="changeRecipient($event)" type='text' class="form-control" autocomplete="off" [formControlName]='field.key' [id]='field.key' [readonly]='operation ==="read" || field.isId'>
			<select *ngIf='operation && (operation === "create" || operation === "repeat") && field.key === "username"' (change)="onChange($event.target.value)" class='form-control'>
		    <option *ngFor="let item of userList" [value]="item.name">{{item.name}}</option>
			</select>
			<input *ngIf='!operation && field.key === "username"' type='text' class="form-control" autocomplete="off" [formControlName]='field.key' [id]='field.key'>
		</div>
		<div *ngSwitchCase='"number"' class='form-group'>
			<label [for]="field.key">{{field.label}}</label>
			<input type='number' min='0' class="form-control" autocomplete="off" [formControlName]='field.key' [id]='field.key' [readonly]='operation ==="read" || field.isId'>
		</div>
		<div *ngIf='form.get(field.key).hasError("required") && (submitted || form.get(field.key).touched)' class='alert alert-danger'>
			{{field.label}} is required
		</div>
	</div>
</div>