<h3>Heroes</h3>
<input type="text" (keyup)='searchHero($event)'>
<div *ngIf="errorMessage" class='alert alert-danger'>
  {{errorMessage}}
</div>
<div>
<ul *ngIf='!gender'>
	<li *ngFor='let item of pageOfItems'>
		<a (click)='showHeroDetail(item.url)'>{{item.name}}</a>	
	</li>	
</ul>
<ul *ngIf='gender'>
	<li *ngFor='let item of pageOfItems'>
		<a (click)='showHeroDetail(item.url)'>{{item.name}}</a>	
	</li>
</ul>
</div>
<div>
	<button class="btn-sm" (click)='getAll()'>All</button>
	<button *ngIf='!gender' class="btn-sm" (click)='getGender()'>Male</button>	
	<button *ngIf='gender' class="btn-sm" (click)='getGender()'>{{switch}}</button>	
</div>
<div class="card-footer pb-0 pt-3">
  <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
</div>