:host
    display: block

ul
  margin-top: 20px

li
  list-style-type: none
  padding-top: 10px

a
  text-decoration: none
  cursor: pointer

.btn-sm 
    width: 100px
    height: auto
    margin-left: 10px
