<h3>Search by parameters</h3>
<div>
    <form (ngSubmit)="onSubmit()" [formGroup]='form'>
        <div *ngFor="let field of vmDefinition">
            <spa-dynamic-field [field]='field' [form]='form' [submitted]='submitted'></spa-dynamic-field>
        </div>
        <div *ngIf="errorMessage" class='alert alert-danger'>
            {{errorMessage}}
        </div>
        <div *ngIf="status != 'waiting'">            
            <button type="button" class="btn btn-primary" (click)='onSearch()'>Search</button>
        </div>
        <div *ngIf="status === 'waiting'">
            Waiting ...
        </div>
    </form>
</div>