<div [hidden]="operation === 'create' && field.isId" [formGroup]='form'>
	<div [ngSwitch]='field.type'>
		<div *ngSwitchCase='"string"' class='form-group'>
			<label *ngIf='operation' [for]="field.key">{{field.label}}</label>
			<input *ngIf='operation' type='text' class="form-control" autocomplete="off" [formControlName]='field.key' [id]='field.key' [readonly]='operation ==="read" || field.isId'>
			<input *ngIf='!operation' type='text' class="form-control" autocomplete="off" [formControlName]='field.key' [id]='field.key' [readonly]='operation ==="read" || field.isId'>
		</div>
		<div *ngSwitchCase='"number"' class='form-group'>
			<label [for]="field.key">{{field.label}}</label>
			<input type='number' class="form-control" autocomplete="off" [formControlName]='field.key' [id]='field.key' [readonly]='operation ==="read" || field.isId'>
		</div>
		<div *ngIf='form.get(field.key).hasError("required") && (submitted || form.get(field.key).touched)' class='alert alert-danger'>
			{{field.label}} is required
		</div>
	</div>
</div>