.center-content {
	position: absolute;
	left: 0;
	top: 330px;
	width: 100%;
	height: 620px;
	z-index: 3;
}

.center-img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 440px;
}

.screen {
	background-image: url("img/center-content-screen.jpg");
	position: absolute;
	left: 630px;
	top: -50px;
	width: 632px;
	height: 391px;
	z-index: 23;
}

.note {
	background-image: url("img/center-content-computer.jpg");
	position: absolute;
	left: 477px;
	top: -81.5px;
	width: 938px;
	height: 493px;
	z-index: 22;
}

.center-content-text{
	position: absolute;
	text-align: center;
	top: 430px;
	left: 495px;
	width: 890px;
	height: 50px;
}

.cntr-awesome {
	font-size: 36px;
	font-weight: 900;
	font-family: "ProximaNovaA";
	color: rgb(60, 67, 72);
	line-height: 1.5;
}

.having {
	font-size: 16px;
	font-weight: 600;
	font-family: "OpenSans";
	color: rgb(110, 115, 119);
}

.cntr-btn-container{
	position: absolute;
	left: 880px;
	top: 560px;
	width: 107px;
	height: 27px;
}

.cntr-btn {
	border-radius: 20px;
	background-color: rgb(20, 113, 179);
	position: absolute;
	left: 0;
	top: 0;
	width: 107px;
	height: 27px;
	z-index: 19;
}

.cntr-learn_more {
	font-size: 15px;
	font-family: "ProximaNovaA";
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
	position: absolute;
	left: 18%;
	top: 16%;
	z-index: 21;
}

.bg {
	background-color: rgb(230, 239, 246);
	position: absolute;
	top: 330px;
	width: 100%;
	height: 620px;
	z-index: 2;
}